.result {
    height: 70vh;
    /* background-color: red; */
    
    justify-content: center;
    flex-direction: column;
}

.parent {
    /* background-color: white;; */
}

.inner-child{
    text-align: center;
}

.inner-child h1 {
    font-size: 3rem;
    text-align: center;
    /* background-color: pink; */
}

h2{
    font-size: 3rem;
    text-decoration: underline;
}

.imageAndPrice {

    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

img {
    max-width: 37%;
}

@media (max-width: 600px){

    .inner-child h1 {
        font-size: 2rem;;
    }

    img {
    max-width: 70%;
    }

}